<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<ion-header>
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='map'></div>
  <ion-back-button defaultHref="/navscan/historial"
                          text=" "
                          class="boton-regresar"
                          icon="close-circle"></ion-back-button>

</ion-content>
