<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="primary">Retail Off</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../assets/img/Logo.JPG">
      <ion-button expand="full" routerLink="/login">Iniciar Sesion</ion-button>
      <br>
      <h2 class="Sans Serif">Estas Registrado?</h2>
      <br>
      <h2 class="Sans Serif"></h2>
      <ion-button expand="full" routerLink="/registro">Registrate con nosotros</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
